*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("img/Recycling-Graphic.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
}
nav img {
  width: 100px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
}
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 35%;
  bottom: 50%;
  transform: translate(6%, -50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
}
.text-box p2{
  margin: 10px 0 40px;
  font-size: 30px;
  font-weight: 1;
}

.shield {
  color: white;
}


nav .fa{
  display: none;
}


@media(max-width: 700px) {
  .text-box h1{
    font-size: 35px;
  }
  .nav-links ul li {
    display: block;
  } 
  #supermarkt h1{
    font-size: 35px;
  }
  #milieustraat h1{
    font-size: 35px;
  }
  #invloed h1{
    font-size: 35px;
  }
  .nav-links{
    position: absolute;
    background: black;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .hidden{
    overflow: hidden;
  }
  nav .fa{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 20px;
  }
  .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
}

.break {
  background-color: #000000; 
  min-height: 1vh;
}

/*-For the 2nd section, supermarkt-*/
.supermarkt {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 130px;

  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("img/1624848.jpg");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.supermarkt h1{
  font-size: 62px;
  font-weight: 600;
  color: white;
}
.supermarkt p{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
  
}
.supermarkt h2{
  font-size: 25px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.supermarkt p1{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.supermarkt p2{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.supermarkt h3 {
  color: white;
  display: inline-block;
  text-decoration: none;
  border: 2px solid white;
  padding: 12px;
  font-size: 20px;
  background: transparent;
  width: 30%;
  align-items: center;
}

/*-For the 3rd section, milieustraat-*/
.milieustraat {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 90px;

  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("img/Elkor-Saver-Roosendaal_5261498.jpg");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.milieustraat h1{
  font-size: 62px;
  font-weight: 600;
  color: white;
}
.milieustraat p{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.milieustraat h2{
  font-size: 25px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.milieustraat p1{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.milieustraat p2{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.milieustraat h3 {
  color: white;
  display: inline-block;
  text-decoration: none;
  border: 2px solid white;
  padding: 12px;
  font-size: 20px;
  background: transparent;
  width: 30%;
  align-items: center;
}

/*-For the 4th section, invloed-*/
.invloed {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 90px;

  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("img/dead%20animal.jpg");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.invloed h1{
  font-size: 62px;
  font-weight: 600;
  color: white;
}
.invloed p1{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.invloed p{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.invloed h2{
  font-size: 25px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.invloed p2{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.invloed h3 {
  color: white;
  display: inline-block;
  text-decoration: none;
  border: 2px solid white;
  padding: 12px;
  font-size: 20px;
  background: transparent;
  width: 30%;
  align-items: center;
}

/*-For the 5th section, overons-*/
.overons {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 90px;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("img/people%20working.jpg");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.overons h1{
  font-size: 62px;
  font-weight: 600;
  color: white;
}
.overons h2{
  font-size: 25px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.overons p1{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}

#navbar {
  backdrop-filter: blur(0px); /*-- Adds a background blur to the navbar, set to 0 because i didnt
  like the blur but wanted to remember it existed --*/
  position: fixed; /*-- Makes it stay in the same place, even with scroll --*/
  height: 30px; /*-- Changes the height of the blur or background, not used in this case --*/
  transition: top 0.3s; /*-- Adds the "animation" --*/
  z-index: 10000; /*-- Makes it so the navbar always appears on top --*/
  width: 100%; /*-- Makes it so the background fills the entire width of the page --*/
}
/*-- Add styles to the navbar, like color and font size --*/
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 10px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 100000; /* Make sure it does not overlap */
  border: 2px solid white; /* Remove borders */
  background-color: transparent; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 100000px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  backdrop-filter: blur(100px); /* Add a blur on */
  border: 3px solid white;
}


.footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}
.footer .fa{
  color: white;
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
}

.footer .fa:hover {
  color: gray;
}
