a:link {
    color: #fff;
    text-decoration: none;
  }
a:visited {
    color: #fff;
    text-decoration: none;
  }
a:hover {
    color: #808080;
    text-decoration: none;
  }
a:active {
    color: #fff;
    text-decoration: none;
  } 

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: black;
    padding: 20px;
}
.nav_links {
    display: flex;
    gap: 10%;
    list-style: none;
}
.logo {
    display: flex;
    margin-left: 0%;
}