*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/img/Recycling-Graphic.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
}
nav img {
  width: 100px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
}
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 35%;
  bottom: 50%;
  transform: translate(6%, -50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
}
.text-box p2{
  margin: 10px 0 40px;
  font-size: 30px;
  font-weight: 1;
}

.shield {
  color: white;
}


nav .fa{
  display: none;
}


@media(max-width: 700px) {
  .text-box h1{
    font-size: 35px;
  }
  .nav-links ul li {
    display: block;
  } 
  #supermarkt h1{
    font-size: 35px;
  }
  #milieustraat h1{
    font-size: 35px;
  }
  #invloed h1{
    font-size: 35px;
  }
  .nav-links{
    position: absolute;
    background: black;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .hidden{
    overflow: hidden;
  }
  nav .fa{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 20px;
  }
  .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
}

.break {
  background-color: #000000; 
  min-height: 1vh;
}

/*-For the 2nd section, supermarkt-*/
.supermarkt {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 130px;

  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/img/1624848.jpg);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.supermarkt h1{
  font-size: 62px;
  font-weight: 600;
  color: white;
}
.supermarkt p{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
  
}
.supermarkt h2{
  font-size: 25px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.supermarkt p1{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.supermarkt p2{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}

/*-For the 3rd section, milieustraat-*/
.milieustraat {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 90px;

  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/img/Elkor-Saver-Roosendaal_5261498.jpg);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.milieustraat h1{
  font-size: 62px;
  font-weight: 600;
  color: white;
}
.milieustraat p{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.milieustraat h2{
  font-size: 25px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.milieustraat p1{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}
.milieustraat p2{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}

/*-For the 4th section, invloed-*/
.invloed {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 90px;

  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/img/Recycling-Graphic.png);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.invloed h1{
  font-size: 62px;
  font-weight: 600;
  color: white;
}
.invloed p{
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 10px;
}


#navbar {
  backdrop-filter: blur(0px);
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  height: 30px;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 10px;
}
#navbar {
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}